<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to QR Code Generator</h1>
    <p>Create and manage your QR codes easily.</p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'dashboard' %}">Go to Dashboard</a></p>
        <p><a href="{% url 'create_code' %}">Create new QR code</a></p>
        <p><a href="{% url 'users:logout' %}">Logout</a></p>
    {% else %}
        <a href="{% url 'users:login' %}">Login to create a QR code</a>
    {% endif %}
</body>
</html>