{% extends "base.html" %}
{% block content %}
<div class="qr-info-header">
    <div class="container">
        <h1>QR код: {{ code_name }}</h1>
        <img src="{{image_path}}" alt="QR код {{code_name}}" class="qr-image">
    </div>
</div>
<div class="qr-info-content">
    <div class="container">
        <ul class="qr-details">
            <li><strong>Код был создан:</strong> {{ created }}</li>
            <li><strong>QR код ведёт на страницу:</strong> <a href="{{ direction }}">{{ direction }}</a></li>
            <li><strong>Всего было совершено переходов:</strong> {{ total_transitions }}</li>
            <li><strong>Владелец кода:</strong> {{ owner }}</li>
        </ul>
        <div class="qr-stats">
            {{ plot_html|safe }}
        </div>
    </div>
</div>
{% endblock content %}
