{% extends "base.html" %}
{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <h1>QR код {{ code_name }}</h1>
    <img src="{{image_path}}" alt="QR код {{code_name}}" width="200" height="200">
    <ul>
        <li>Код был создан {{ created }}</li>
        <li>QR код ведёт на страницу {{ direction }}</li>
        <li>Всего было совершено {{ total_transitions }} переходов</li>
        <li>Владелец кода: {{ owner }}</li>
    </ul>
    <div>{{ plot_html|safe }}</div>
{% endblock content %}